* {
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
    font-family: 'Merriweather', serif;
}

/* banner section */
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 0 auto;
}

.banner h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 180px;
    margin: auto;
}

.banner h2 {
    color: #FFF;
    text-align: center;
    width: 632px;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin: auto;
}

/* New Year Discount */
.discount {
    padding: 120px 398px 0px 398px;
    margin: 0px auto;
}

.discount h2 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    margin: auto;
}

.discount h4 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: auto;
    padding-top: 30px;
}

.discount h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: auto;
    padding-top: 15px;
}

.discount img {
    width: 805px;
    height: 500px;
    padding-top: 45px;
    margin: auto;
}

/* Midnight Party */
.party {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    display: flex;
    margin: auto;
    margin-top: 120px;
    border-radius: 10px;
}

.midnight h2 {
    color: #FFF;
    width: 642px;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-top: 110px;
    padding-left: 100px;
    margin: auto;
}

.midnight p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    width: 697px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 155px;
    padding-top: 20px;
    margin: auto;
}

.midnight button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: 0px;
    margin-top: 50px;
    margin-left: 155px;
}

.midnight button:hover {
    border: 2px solid yellowgreen;
}

.year img {
    width: 319.83px;
    height: 464.662px;
    margin: auto;
    padding-top: 70px;
    padding-left: 40px;
}

/* Event Section */
.event {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: auto;
    width: 1320px;
    height: 482px;
    margin-top: 120px;
    border-radius: 10px;
}

.event h3 {
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 120px;
}

.event span {
    color: #F00;
}

.event button {
    padding: 16px 32px;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: 0px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin: auto auto auto 580px;
}


/* offer section */
.offer {
    display: flex;
    width: 87%;
    height: 420px;
    margin: auto;
    margin-top: 90px;
    /* padding-top: 120px; */
    /* background-color: aqua; */
}

.coming-soon {
    text-align: left;
}

.coming-soon h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 104px;
    margin: auto;
}

.coming-soon h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding-top: 15px;
    margin: auto;
}

.coming-soon p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    margin: auto;
    padding-top: 20px;
}

.eclipse {
    width: 390px;
    height: 390px;
    flex-shrink: 0;
    border: 15px solid #F00;
    border-radius: 100%;
    margin-left: 70px;
}

.eclipse img {
    width: 365px;
    height: 365px;
    margin: 12px;
}

.y2024 {
    margin: auto;
}

.y2024 h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: auto;
    margin-top: 50px;
}

.y2024 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
    padding-top: 15px;
    margin: auto;
}

.y2024 img {
    margin: auto;
    padding-top: 20px;
}

/* holiday sale */
#holiday-sale {
    width: 87%;
    height: 1030px;
    margin: auto;
    margin-top: 120px;
    background: url('../images/Rectangle\ 2.png');
    background-position: bottom;
    background-repeat: no-repeat;
}

.holiday-content h5 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: auto;
}

.holiday-content h2,
span {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.holiday-content span {
    color: #F00;
}

.holiday-content p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 890px;
    margin: auto;
}

.holiday-image {
    display: flex;
    margin-top: 100px;
}

.gift-box {

    margin-top: 155px;
    margin-left: 60px;
}

/* .girl{
    margin: auto;
    margin-left: 82px;
    margin-top: 40px;
} */

.shop {
    /* background: url('/images/Rectangle\ 1.png'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background: url('../images/Rectangle\ 1.png'), lightgray -59.98px 0px / 151.553% 100% no-repeat;
    width: 429px;
    height: 433px;
    margin-left: 81px;
    margin-top: 40px;
    border-radius: 16px 16px 0px 0px;
}

.dis50 {
    margin-left: -100px;
    margin-top: 100px;
    width: 210px;
    height: 206px;
    flex-shrink: 0;
}


/* Portfolio section */
#portfolio {
    width: 87%;
    margin: auto;
    margin-top: 100px;
}

.port-cont h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: auto;
}

.port-cont h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin: auto;
    margin-top: 15px;
}

.port-cont p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}

.port-img {
    width: 400px;
    height: 425px;
    border-radius: 16px;
    display: inline;
}

.port-img1 {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.port-img2 {
    display: flex;
    gap: 15px;
    padding: 10px;
}

/* footer for newsletter */
.footer-1 {
    width: 87%;
    height: 530px;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    display: block;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.newsletter-text img {
    width: 150px;
    height: 150px;
    padding-top: 50px;
    margin: auto;

}

.newsletter-text h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin: auto;
    margin-top: 20px;
}

.newsletter-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin: auto;
    margin-top: 20px;
}

.newsletter-sub input[type='email'] {
    width: 438px;
    height: 67px;
    border: 0;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-weight: 400;
    padding-left: 50px;
    margin: auto;
    margin-top: 30px;
    margin-left: -330px;
    position: absolute;
}


.newsletter-sub input[type='button'] {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    width: 210px;
    height: 69px;
    border: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    position: absolute;
    margin-top: 30px;
    margin-left: 100px;
}

.footer-2 {
    width: 100%;
    height: 609px;
    background: #070211;
    margin: auto;
    margin-top: 100px;
}

.address {
    width: 87%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.home {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    width: 375px;
    height: 80px;
}

.tele {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-right: 80px;
    /* 166.667% */
}

.fa-solid {
    margin: auto;
    margin-right: 10px;
}

.hr {
    margin: auto;
    width: 87%;
}

.social-icon {
    width: 87%;
    margin: auto;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    margin-bottom: 50px;
}

.copyright {
    width: 87%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}