* {
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
    font-family: 'Merriweather', serif;
}

/* banner section */
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 0 auto;
}

.banner h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 180px;
    margin: auto;
}

.banner h2 {
    color: #FFF;
    text-align: center;
    width: 632px;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin: auto;
}

/* New Year Discount */
.discount {
    padding: 120px 398px 0px 398px;
    margin: 0px auto;
}

.discount h2 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    margin: auto;
}

.discount h4 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: auto;
    padding-top: 30px;
}

.discount h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: auto;
    padding-top: 15px;
}

.discount img {
    width: 805px;
    height: 500px;
    padding-top: 45px;
    margin: auto;
}

/* Midnight Party */
.party {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    display: flex;
    margin: auto;
    margin-top: 120px;
    border-radius: 10px;
}

.midnight h2 {
    color: #FFF;
    width: 642px;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-top: 110px;
    padding-left: 100px;
    margin: auto;
}

.midnight p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    width: 697px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 155px;
    padding-top: 20px;
    margin: auto;
}

.midnight button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: 0px;
    margin-top: 50px;
    margin-left: 155px;
}

.midnight button:hover {
    border: 2px solid yellowgreen;
}

.year img {
    width: 319.83px;
    height: 464.662px;
    margin: auto;
    padding-top: 70px;
    padding-left: 40px;
}